.project
.classpath
target/
.idea/
.settings/org.eclipse.core.resources.prefs
.settings/
src/main/resources/dependentList/Anagrafica.txt
src/main/resources/application.properties
src/main/resources/dependentList/ListaPrimaSettimana.txt
