<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
    Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Cigo Analysis</title>

</head>

<body>
	<div align="center">
		<table border="1" cellpadding="5" class="css-serial">
			<thead>
				<tr>
					<th>#</th>
					<th>Id</th>
					<th>Cognome</th>
					<th>Nome</th>
					<th>Mansione</th>
					<th>Squadra</th>
					<th>Uffici/Operativo</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${dependentList.empty}">
					<td colspan="2">No Dependents Available</td>
				</tr>
				<tr th:each="dependent : ${dependentList}">
					<td></td>
					<td><span th:text="${dependent.id}"> Id </span></td>
					<td><span th:text="${dependent.surname}"> Surname </span></td>
					<td><span th:text="${dependent.name}"> Name </span></td>
					<td><span th:text="${dependent.skill}"> Mansione </span></td>
					<td><span th:text="${dependent.typeTeam}"> Squadra </span></td>
					<td class="y_n"><span th:text="${dependent.officeInfo}">
							Uffici/Operativo </span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>