<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01
    Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link href="../static/css/main.css" th:href="@{/css/main.css}"
	rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Cigo Analysis</title>

</head>

<body>
	<h1>
		<center>Classifica</center>
	</h1>
	<div align="center">
		<table border="1" cellpadding="5"  class="blueTable">
			<thead>
				<tr>
					<th><center>Gruppo</center></th>
					<th><center>Totale in cigo</center></th>
					<th><center>Perc sul totale</center></th>
					<th><center>Totale indenni</center></th>
					<th><center>Perc indenni su<br>tot gruppo</center></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Uffici</td>
					<td><span th:text="${totUfficiInCigo}"></span>/<span th:text="${totAnagUffici}"></span></td>
					<td><span th:text="${percUfficiInCigo}"></span></td>
					<td><span th:text="${totAnagUfficiSalvi}"></span>/<span th:text="${totAnagUffici}"></span></td>
					<td><span th:text="${percUfficiSalvi}"></span></td>
				</tr>
				<tr>
					<td>Operativo</td>
					<td><span th:text="${totOperativoInCigo}"></span>/<span	th:text="${totAnagOperativo}"></span></td>
					<td><span th:text="${percOperativoInCigo}"></span></td>
					<td><span th:text="${totAnagOperativoSalvi}"></span>/<span th:text="${totAnagOperativo}"></span></td>
					<td><span th:text="${percOperativoSalvi}"></span></td>
				</tr>
				<tr>
					<td>Totale</td>
					<td colspan="2"><span
						th:text="${totUfficiInCigo} + ${totOperativoInCigo}"></span>/<span th:text="${totAnagUffici} + ${totAnagOperativo}"></span></td></td>
						<td colspan="2"><span
						th:text="${totAnagUfficiSalvi} + ${totAnagOperativoSalvi}"></span>/<span th:text="${totAnagUffici} + ${totAnagOperativo}"></span></td></td>
				</tr>
			</tbody>
		</table>
		<table border="1" cellpadding="5" class="css-serial">
			<thead>
				<tr>
					<th>#</th>
					<th>Cognome</th>
					<th>Nome</th>
					<th>Uffici/Operativo</th>
					<th>Tot</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${dependentList.empty}">
					<td colspan="2">No Dependents Available</td>
				</tr>
				<tr th:each="dependent : ${dependentList}">
					<td></td>
					<td><span th:text="${dependent.surname}"> Surname </span></td>
					<td><span th:text="${dependent.name}"> Name </span></td>
					<td class="y_n"><span th:text="${dependent.officeInfo}">
							Uffici/Operativo </span></td>
					<td><span th:text="${dependent.weekCounter}"> Tot </span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>